### Files produced by autotools
#
Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/build/aux/ar-lib
/build/aux/compile
/build/aux/config.guess
/build/aux/config.sub
/build/aux/depcomp
/build/aux/install-sh
/build/aux/ltmain.sh
/build/aux/missing
/build/aux/test-driver
/build/m4/libtool.m4
/build/m4/lt*.m4
/configure
/config.h
/config.log
/config.status
/config.h.in~
/stamp-h?


### Temporary files creating during ./bootstrap.sh run
#
/configure.tmp


### Files produced by ./configure
#
Makefile
/libtool

# Temporary files created during ./configure run
/conf*/
/confdefs.h
/conftest
/conftest.c
/conftest.cpp
/conftest.err
/libtoolT


### Files produced by build process
#
.dirstamp
*.a
*.o
*.la
*.lo
.deps/
.libs/
/a.out
/src/libsnoopy.so
/tests/bin/snoopy-test-configfile
/tests/bin/snoopy-test-datasource
/tests/bin/snoopy-test-filter
/tests/bin/snoopy-test-message-format
/tests/bin/snoopy-test-output
/util/snoopy-disable
/util/snoopy-enable
/util/snoopy-run-everything
/util/snoopy-test-all-data-sources
/util/snoopy-test-output
/util/snoopy-detect
/util/snoopy-dev-helper
/contrib/rhel/snoopy.spec
/contrib/sles/snoopy.spec
/etc/snoopy.ini


### Files produced by test suite
#
/tests/*.log
/tests/*/*.log
/tests/*.trs
/tests/*/*.trs


### Coverity files
#
/cov-int*
/build/coverity-settings.conf


### Distribution related files
#
/debian
