### Files produced by autotools
#
/autom4te.cache
/configure
/config.h
/config.log
/config.status
/stamp-h1


### Files produced by ./configure
#
/Makefile


### Files produced by build process
#
*.o
/contrib/sles/snoopy.spec
/src/snoopy.so
/src/bin/snoopy-test-output
