#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
%:
	dh $@

override_dh_clean:
	dh_clean
	find . -name Makefile.in -exec rm {} \+
	rm -f aclocal.m4 compile configure test-drive

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--libdir=/lib/$(DEB_HOST_MULTIARCH) \
		--sysconfdir=/etc \
		--with-message-format='[login:%{login} ssh:(%{env:SSH_CONNECTION}) sid:%{sid} tty:%{tty} (%{tty_uid}/%{tty_username}) uid:%{username}(%{uid})/%{eusername}(%{euid}) cwd:%{cwd}]: %{cmdline}'

override_dh_auto_install:
	dh_auto_install
	find debian/ -name "*.la" -delete

override_dh_missing:
	dh_missing --fail-missing

override_dh_builddeb:
	dh_builddeb --destdir=.
